a {
  color: orange
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

.container:first-child {
  font-size: 150%;
}

.container:first-line {
  color: red;
}

td:last-child {
  background-clor: #333;
}
