html {
font-sice: 10px;
font-family:  "Bpmf Huninn", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #000321;
  text-shadow: 3px 3px 1px black;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color:#242557;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

html {
  background-color: #00001f;
}

h1 {
  font-size: 60px;
  text-align: center;
  border: 5px solid black;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
