html {
  background-color: white;
}

h1 {
  color: blue;
}

p,
li {
  color: green;
}

li em {
  color: rebeccapurple;
}

h1 + p {
  font-size: 200%;
}

.special {
  color: orange;
  font-weight: bold;
}
