a { color: orange }
a:visited { color: green; }
a:hover { text-decoration: none; }

.container:first-child { font-size: 150%; }
.container:first-line { color: red; }

tr:last-child {
      background-color: #333333;
}
